.product_car {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 600px;
  column-gap: 1em;
}

.product_car_icon {
  background: #ecebef;
    padding: .5em;
    border-radius: 12px;
}

.product_car_title {
  flex-grow: 1;
}